$purple: #6f5499;
$purpleDark: #563d7c;
$purpleLight: #cdbfe3;
$greyDark: #2a2730;
$greyLight: #99979c;

%clearfix {
	&:after {
		display: block;
		visibility: hidden;
		clear: both;

		height: 0;

		font-size: 0;

		content: ' ';
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif;
}

.wrapper {
	&--full-width {
		
	}
	&--fixed-width {
		margin-left: auto;
		margin-right: auto;
		width: 990px;
	}
}

.banner {
	background-color: #0275d8;
	color: white;
	text-align: center;
	padding: 20px;
	font-weight: bold;
}


.menu {
	height: 50px;
	line-height: 50px;
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
	&__logo {
		color: $purpleDark;
		font-size: 18px;
		font-weight: bold;
		float: left;

	}
	&__item {
		color: $purpleDark;
		float: left;
		margin-left: 30px;

	}

}

.hero {
	background-color: $purple;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	&__icon {
		font-size: 110px;
		font-weight: bold;
		border: 1px solid $purpleLight;
		height: 144px;
		width: 144px;
		margin-left: auto;
		margin-right: auto;
		line-height: 144px;
		border-radius: 25px;
	}
	&__text {
		font-size: 30px;
		margin-top: 36px;
		margin-bottom: 36px;
	}
	&__btn {
		font-size: 20px;
		border: 1px solid $purpleLight;
		border-radius: 6px;
		line-height: 60px;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		
		&:hover {
			background-color: white;
			color: $purpleDark;
			border-color: white;
		}
	}
	
	&__version {
		margin-top: 20px;
		font-size: 14px;
		color: $purpleLight;
	}
}

.featurestop {
	&__phrase {
		color: black;
		font-size: 40px;
		text-align: center;
		margin-top: 100px;
	}
	&__desc {
		text-align: center;
		font-size: 20px;
		color: black;
		line-height: 30px;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
}



.features {
	@extend %clearfix;
	padding-top: 40px;
	padding-bottom: 40px;
	&__item {
		float: left;
		width: 33.33%;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__image {
		img {
			width: 100%;
		}
	}
	&__title {
		font-size: 20px
;		text-align: center;
	}
	&__desc {
		text-align: center;
		line-height: 20px;
		margin-top: 10px;
	}
}

.featuresbottom {
	clear: both;
	&__closing {
		text-align: center;
		font-size: 20px;
	}
	&__btn {
		color: $purpleDark;
		border: 1px solid $purpleDark;
		border-radius: 5px;
		text-align: center;
		width: 250px;
		line-height: 50px;
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		&:hover {
			background-color: $purple;
			border-color: white;
			color: white;
			font-weight: bold;
		}
	}
}

.projectstop {
		text-align: center;
		font-size: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	&__phrase {
		color: black;
		font-size: 40px;
		text-align: center;
	}
	&__desc {
		text-align: center;
		line-height: 30px;
		margin-top: 10px;
	}
}

.projects {
	@extend %clearfix;
	&__image {

		img {
		height: 230px;
		width: 230px;
		float: left;
		padding-left: 1px;
		padding-right: 1px;
		}
	}
}	

.projectsbottom {
	clear: both;
	&__desc {
	font-size: 22px;
	text-align: center;
	margin-top: 75px;
	}
	&__btn {
		color: $purpleDark;
		border: 1px solid $purpleDark;
		border-radius: 5px;
		text-align: center;
		width: 250px;
		line-height: 50px;
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		&:hover {
			background-color: $purple;
			border-color: white;
			color: white;
			font-weight: bold; 
	}
}
}



.footer {
	height: 50px;
	line-height: 50px;
	background-color: $greyDark;
	margin-top: 75px;
	&__top {
		float: left;
	}
	&__bottom {
		background-color: $greyDark;
		width: 100%;
	}

	&__item {
		color: white;
		float: left;
		margin-left: 30px;
		font-size: 14px;

	}
	&__desc {
		@extend %clearfix;
		color: $greyLight;
		clear: both;
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;

	}
	&__crinfo {
		color: $greyLight;
		margin-left: 30px;
	}
}
